//
   Created by nickbelzer on 24/12/2016.

extends layout

block head
  link(rel='stylesheet', href='/stylesheets/christmas.css')

block content
  .backdrop
    #stars
    #stars2
    #stars3

    .backdrop.trees
    .backdrop.trees.shifted
    .ground
    img.tree(src='/images/christmas-tree.png')

    .flex
      .merry-christmas Merry Christmas
        .sub ~ Nick Belzer