extends layout

block head
  link(rel='stylesheet', href='/stylesheets/miningGame.css')

block content
  .full-width.simulation-frame#mining-game
    button.loadGame(onClick='loadGame()') Start Game

  .full-width.information-frame
    .frame.frame-centered
      img.image(src="/images/profile_image.jpeg")
      .information
        h3.name Nick Belzer
        h4.subtitle Also known as MateyByrd
        p.description Welcome to my personal website. Here you are able to follow my progress through time and space.

block scripts
  script(src='/javascript/miningGameClient.js')