extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='/stylesheets/miningGame.css')

block content
  .wrapper
    .full-width.cover-image
      .index-image

  .full-width.information-frame
    .frame.frame-centered
      .information.frame.mobile-row
        img.image(src="/images/profile_image.jpeg")
        .personal-information
          h3.name Nick Belzer
          h5.subtitle Matey Byrd
          p.description Welcome to my personal website. Here you are able to follow my progress through space and time.

  .full-width.projects-frame
    h4.title Projects
    .frame.frame-centered.mobile-row
      .project
        h4.name MateyByrd.Net
        p.description My personal website is where I try out new features and try to show off what I am able to do in web development.
      .project
        h4.name MateyByrd.Net
        p.description My personal website is where I try out new features and try to show off what I am able to do in web development.

  .full-width.simulation-frame#mining-game
    .start-menu
      .title Crystal Miner
      button.btn.btn-outline-success.loadGame(onClick='loadGame()') Start Game


block scripts
  script(src='/javascript/miningGameClient.js')
  script(src='/javascript/countUp.min.js')