extends layout

block content
  .message
    h3 Hi there
    p This subdomain of my website is used for development, if you wish to see the current stable version of my website look <a href="http://www.mateybyrd.net">here</a>. If you stay here please note that this version of the site is in development and receives all minor updates that I make to it, this means that some parts might not look or work as they should.

    h3 Roadmap
    p Since this domain is used for development I have made a small list of things that I am working on, this list will change over the course of time.
      ul
        li
          s Auto update system
        li Information about me
        li Nice layout
