extends layout

block content
  .full-width.simulation-frame

  .full-width.information-frame
    .frame.frame-centered
      img.image(src="/images/profile_image.jpeg")
      .information
        h3.name Nick Belzer
        h4.subtitle Also known as MateyByrd
        p.description Welcome to my personal website. Here you are able to follow my progress through time and space.