extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .headerImage(style='background-image: url(\'/images/IMG_1008.jpg\');')
    img.profile-image(src='/images/FancyPirate256.jpg')
    .profile-info 
      h2.inline Matey Byrd
      .info.inline  (aka Nick Belzer)
      .info.darker Student by day, programmer by night
  .container-fluid
    .row
      .col-sm-0.col-md-2
      .col-sm-12.col-md-8
        h3 Welcome sir/madam
        p.text I would like to welcome you to my humble website.
        p.text First of all let me introduce myself, I am Nick Belzer (known online as Matey Byrd), I live in the Netherlands and am currently 17 years old. I started programming at the age of 10 when I became interested in making games, first of all using Game Maker, then came Java and throughout the years I teached myself how to program. Currenlty I am familiar with quite a few languages and I am mainly working on web and game development.
        p.text This is where you can look through all the stuff I have done and explore things I am working on at the moment.


