extends layout

block head
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .header-image(style='background-image: url(\'/images/index_background.jpg\');')
    img.profile-image(src='/images/FancyPirate256.jpg')
    .profile-info 
      h1 Matey Byrd
      .info.darker Also known as Nick Belzer
      i.info.darker Student by day, programmer by night
      .info.follow 
        a(href='https://github.com/MateyByrd')
          img(src='/images/github-mark.png')
        a.twitter-follow-button(href='https://twitter.com/MateyByrd', data-show-screen-name='true', data-show-count='false')
    //- NAVIGATION
    //- .navigation-bar
      a.nav-item(href='/blog')
        img(src='/images/blog.svg')
        .info Blog
      a.nav-item.current(href='/')
        img(src='/images/home.svg')
        .info Home

  .container-fluid
    .row
      .col-xs-0.col-sm-1.col-md-2
      .col-xs-0.col-sm-10.col-md-8
        h4 Welcome sir/madam
        p.text I would like to welcome you to my humble website.
        p.text First of all let me introduce myself, I am Nick Belzer (known online as Matey Byrd), I live in the Netherlands and am currently 17 years old. I started programming at the age of 10 when I became interested in making games, first of all using Game Maker, then came Java and throughout the years I teached myself how to program. Currently I am familiar with quite a few languages and I am mainly working on web and game development.
        hr
    .row
      .col-xs-0.col-sm-1.col-md-2
      .col-xs-12.col-sm-10.col-md-8
        h4 My projects
        p.text This is where you can look through all the stuff I have done and explore things I am working on at the moment.
    .projects
      .masonary-item
        .project
          img.top(src='/images/FancyPirate256.jpg')
          h2.title Mateybyrd.Net
          h5.subtitle My Personal Website
          p.text For some time now I have had my own website and this has been an ongoing adventure of testing out new tricks I learned and just learning how to develop websites. It has been somewhat frustrating but a lot of fun to struggle with all the css, html, php and javascript.
          p.text Currently this website is build upon NodeJS using Express as web server. 
          p.text The website is and probably will always be under development because there will always be new things to try out. Therefore the look of the site could change overnight.
          .status 
            a.darker(href='/stats') status
            .in-development  in development
            .github
              a(href='https://github.com/MateyByrd/newMateybyrdNet')
                img(src='/images/github-mark.png')

      .masonary-item
        .project
          img.top(src='/images/chesster.png')
          h2.title Chesster
          h5.subtitle A Modern Chess Game
          p.text Together with Petr Kollarcik I made a chess game for iOS, the goal was to give the chess board a modern look and stand out of the crowd in that way. 
          p.text Petr did the design work while I worked on the game itself, in my opinion Petr did a great job and I did my best to create a game that lived up to his concept for the game. After about half a year of development the game finaly released on the App Store in December 2015. 
          p.text The game has quite a few features, including single and multiplayer gameplay, a computer player, different sets, a timed game mode and more.
          p.text Want to try it out ? Get it on the 
            a(href="https://appsto.re/nl/mskg-.i") App Store
            | .
          .status 
            .darker status
            .released  available on the app store
        
      .masonary-item
        .project
          img.top(src='/images/arm2d2.jpg')
          h2.title ARM2-D2
          h5.subtitle A Robotic Arm
          p.text As a sort of final project at school we had to work on something big that interested us, we were free to choose how and what we wanted to do. I chose to build a robotic arm since I have been interested in robotics for a long time and until then had not done a lot with that.
          p.text With the help of the 3D printers at school I was able to create a robotic arm and program it so that it could complete certain tasks.
          p.text The robot is powered by an Arduino and a 16-channel servo controller to control all 7 servos. It has been quite a challange to get it to work properly but one of the most rewarding things I've done.
          .status 
            .darker status
            .released  done
            .github
              a(href='https://github.com/MateyByrd/ARM2D2')
                img(src='/images/github-mark.png')

      .masonary-item
        .project
          img.top(src='/images/TheLighthouseIcon.png')
          h2.title The Lighthouse
          h5.subtitle Mobile puzzle game
          p.text Currently I am working on a new mobile game, this time a puzzle game. By the name you can probably guess it has something to with a lighthouse.
          p.text I am not disclosing too much information yet but you can follow me on my twitter account for the latest updates.
          .status 
            .darker status
            .in-development  in development
            .github
              a(href='https://github.com/MateyByrd/TheLighthouse')
                img(src='/images/github-mark.png')


        
