//
   Created by nickbelzer on 23/12/2016.

.wrapper
  .mining-game
    .overlay
      .filler
      .data
        .crystals.total
          .label Total mined
          img.icon(src='/images/crystal.png')
          .amount#totalCrystals 0
        .crystals.personal
          .label Personally mined
          img.icon(src='/images/crystal.png')
          .amount#personalCrystals 0

        .workers.personal
          .label Amount of workers
          .amount#personalWorkers 0
