//
   Created by nickbelzer on 23/12/2016.

.spacing

.wrapper
  .fixed
    .mining-game
      .overlay
        .data-row
          .data.crystals.total
            .label Total
            img.icon(src='/images/crystal.png')
            .amount#totalCrystals 0
          .data.crystals.personal
            .label Personal
            img.icon(src='/images/crystal.png')
            .amount#personalCrystals 0

          .data.workers.personal
            .label Workers
            .amount#personalWorkers 0
