extends layout

block content
  .container-fluid(style='padding-top: 2em;')
    .row
      .col-xs-0.col-sm-1.col-md-2
      .col-xs-0.col-sm-10.col-md-8
        h3 Website status
        p.text Here you can see website information

        .code 
          .command uptime
          =uptime

          .command last-update
          =lastUpdate

          .command node -v
          =nodeVersion
