
.header-image {
	height: 12em;
}

.header-text {
	position: absolute;
	top: calc(6em - 3em);
	width: 100%;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
	color: #fff;
}

.header-text h1 {
  font-variant: small-caps
}

.header-image .info.darker {
	color: #ccc;
}