
/* PROFILE */
.profile-image {
  border-radius: 50%;
  width: 180px;
  height: auto;

  position: absolute;
  left: calc(20% - 90px);
  top: calc(12.5em - 90px);
}

.profile-info {
  color: #fff;

  position: absolute;
  left: calc(20% + 90px);
  top: calc(12.5em - 90px);

  padding-left: 2em;
  padding-top: 2.6em;
  padding-bottom: 2em;
}

.profile-info h1 {
  font-variant: small-caps
}

.inline {
  display: inline;
}

.profile-info .info.darker {
  color: #ccc;
}

/* PROJECTS */
.projects {
  margin-top: -1.5em;
  margin-bottom: 1.5em;
}

.project {
  padding: 1em;
  background-color: #eee;
  border-radius: 10px;

  max-width: 580px;
  margin-top: 5em;
}

.project img {
  border-radius: 50%;
  width: 100px;
  height: auto;

  position: relative;
  left: calc(50% - 50px);
  top: -60px;
}

.projects h2.title {
  font-variant: small-caps;
  margin-top: -60px;
  text-align: center;
  margin-bottom: 0;
}

.projects h5.subtitle {
  font-variant: small-caps;
  text-align: center;
  color: #aaa
}

.projects .project .status {
  color: #ddd;
  padding: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.4em;
  font-variant: small-caps;

  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -2em;
  background-color: #555;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.projects .status * {
  display: inline;
}

.projects .status .darker {
  color: #aaa;
}

.projects .status .released {
  color: #54CC14;
}

.projects .status .in-development {
  color: #E84114;
}

/* DIFFERENCES ON MOBILE DEVICES */
@media screen and (max-width: 544px) {
  .profile-image {
    width: 140px;
    top: calc(25em - 98.5px);
    left: calc(50% - 70px);
  }

  .profile-info {
    left: 0;
    text-align: center;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  .header-image {
    margin-bottom: calc(130px - 91px + 1em);
  }

  .project {
    margin-left: -0.7em;
    margin-right: -0.7em;
  }
}