
@import './variables.sass'
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto')

\:root
  font-size: $font-size
  font-family: 'Open Sans', sans-serif

body
  margin: 0

h1, h2, h3, h4, h5
  font-family: 'Roboto', sans-serif

.full-width
  width: 100%

.simulation-frame
  max-height: 2rem
  background-color: #4d4d4d

  .start-menu
    display: flex
    height: 100%
    justify-content: center
    align-content: center
    padding: 0.1rem 0.5rem

    .title
      color: #fff
      font-size: 1.3rem
      font-family: 'Audiowide', cursive
      margin-left: 1rem
      margin-right: 2rem

    .btn
      height: 1.8rem
      padding-top: 0
      padding-bottom: 0

.frame
  display: flex

.frame-centered
  justify-content: center

.information-frame
  .frame
    .image, .information
      padding: 1rem
    img.image
      width: 10rem
      height: 10rem
      border-radius: 50%
    .information
      .name, .subtitle
        margin: 0
      .name
        margin-top: 1rem
      .subtitle
        color: #b5b5b5
      width: 22rem
      max-width: 22rem