.mining-game
  padding: 1rem
  color: #fff
  .crystals
    &.total
      color: #b2b2b2
      &::before
        color: #a2a2a2
        font-size: 0.8rem
        content: 'TOTAL AMOUNT'
        display: block
    &.personal
      &::before
        color: #a2a2a2
        font-size: 0.8rem
        content: 'PERSONAL AMOUNT'
        display: block
  .workers
    &::before
      color: #a2a2a2
      font-size: 0.8rem
      content: 'AMOUNT OF WORKERS'
      display: block