
@import 'https://fonts.googleapis.com/css?family=Lato|Open+Sans|Space+Mono';

/* preload to prevent animations from happening at load time */
.preload * {
  -webkit-transition: none !important;
}

* {
  -webkit-transition: all 1s;
}

.header-image {
  background: url('') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 25em;
  width: 100%;
  margin-bottom: 2em;
}

p.text {
  max-width: 550px;
}

a, a:hover {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #555;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

.code {
  font-family: 'Space Mono', monospace;
  background-color: #eee;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 550px;
  border-left: 2px solid #ccc;

  padding-bottom: 1em;
}

.code .command {
  font-weight: bold;
  padding-top: 1em;
}

.navigation-bar {
  position: relative;
  top: calc(100% - 40px);
  right: 15%;
}

.navigation-bar .nav-item {
  position: relative;
  float: right;
  margin-left: 5px;
}

.navigation-bar .nav-item img {
  border-radius: 50%;
  width: auto;
  height: 60px;
  -webkit-transition: all 0.2s;
  /*background-color: #fff;*/
}

.navigation-bar .nav-item:not(.current):hover img {
  /*border: 2px solid #555;*/
  height: 70px;
  margin-top: -20px;
  margin-left: 5px;
  margin-right: 5px;
}


.navigation-bar .nav-item .info {
  text-align: center;
  color: #555 !important;
}

@media screen and (max-width: 544px) {
  .navigation-bar {
    right: 5%;
  }
}
