
$font-size: 18px
$break-xs: 543px
$break-sm: 767px
$break-md: 991px
$break-lg: 1199px

$primary-color: #45ADA8
$secondary-color: #547980

$light-gray: #e2e2e2

@mixin box-shadow()
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)